@page
@model PrivacyModel
@{
    ViewData["Title"] = "О нас";
}
<div class="container w-50">
    <p>Лексико-синтаксический анализатор для языка Java 23 Standard Edition, разработанный при помощи ANTLR Engine на языке программирования C# 13. Разработка выполнена студентом АВб-21-11 <b>Ивановым Арсением Александровичем</b> тяжелыми холодными ночами со слезами на глазах.</p>
    <img src="res/Baepsae.
" class="w-100"/>

</div>
