@page
@model PrivacyModel
@{
    ViewData["Title"] = "О нас";
}
<div class="container">
    <p>Лексико-синтаксический анализатор для языка Java 23 Standard Edition, разработанный при помощи ANTLR Engine на языке программирования C# 13.</p>
</div>
